@import "materialize/materialize";
@import "sass-flexbox/main";



.article ul {
  @extend .browser-default;
  padding: 0 0 0 3rem;
  li {
    margin: .5rem 0;
  }
}

.row {
  &:not(full-width){
    max-width: 1040px;
  }
}
body > nav {
  background: rgba(black,.1);
  height: 100px;
  margin-bottom: -100px;
  box-shadow: none;
  font-weight: normal;
  display: none;
  @media #{$breakpoint-md-up}{
    display: flex;
  }


  .name {
    font-size: 1.3rem;
  }
  .col {
    padding-top: 0;
    padding-bottom: 0;
  }
  ul {
    text-align: right;
    list-style: none;
  }
}

#intro {
  background-image: linear-gradient(56deg, #ED7B73 0%, #F1B570 33%, #6DC38A 66%, #77BAE6 100%);
  color: white;

  padding: 100px 0 100px;

  display: flex;
  flex-direction: column;

  @include center(xs);


  text-align: center;
  > .row {
    //padding: 0 20px;
    @include center(xs);
  }
  @media #{$breakpoint-md-up}{
    text-align: left;
    padding: 190px 0 120px;
  }







  .text {
    order: 1;
    @media #{$breakpoint-md-up}{
      text-align: left;
    }
  }

  .self-portrait {

    // starting small
    order: 0;
    max-width: 25%;
    padding-bottom: 20px;
    max-width: 200px;

    // md and up
    @media #{$breakpoint-md-up}{
      display: flex;
      flex-direction: column;
      @include center(xs);
      order: 1;
    }

    img {
      @extend .responsive-img;
      @extend .circle;
    }
  }


  h1 {

    // starting small
    font-size: 1.7em;
    margin: 0;
    font-weight: 100;
    text-shadow: 0 2px 0 rgba(0,0,0,0.02);
    // md and up
    @media #{$breakpoint-md-up}{
      font-size: 3.3rem;
    }

    strong {
      font-weight: 700;
    }
    .strike {
      text-decoration: line-through;
    }
    .hxd {
      display: block;
    }
  }
  h4 {
    color: rgba(black,.45);
    letter-spacing: .3em;
    font-size: .9em;
    text-transform: uppercase;
    font-weight: 600;
    strong {
    }
  }
}


#mission {

  padding: 6rem 0;

  .row.article {
    max-width: 740px;

    @media #{$breakpoint-xs-only}{
      padding: 0 $gutter*2;
    }
    @media #{$breakpoint-sm-only}{
      padding: 0 $gutter*3;
    }

    a {
      &:hover {
        background: rgba($color-blue,.35);
        color: darken($color-blue,40%);
      }
    }

    > .col > * {
      margin: 0 0 3rem 0;
    }
    p {
      max-width: 620px;
      font-size: 17px;
      color: rgba(black,.75);
      line-height: 1.75;
      strong {
        font-weight: 700;
      }

      em {
        font-family: $serif-font-stack;
        &.red {
          //@extend .red-text;
        }
      }
      .green-highlight {
        background: rgba($color-green,.5);
      }
      .red-highlight {
        background: rgba($color-red,.5);
      }
    }
  }
  h2.question {
    @extend .purple-text;
    font-style: italic;
    font-family: $serif-font-stack;
    font-size: 1.4rem;
    line-height: 1.5;
    @media #{$breakpoint-md-up}{
      font-size: 1.7rem;
    }

  }
  h4 {
    color: rgba(black,.85);
    @extend .blue-text;
    letter-spacing: .3em;
    font-size: .8em;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.5;
  }


}
