@import "materialize/materialize";
@import "sass-flexbox/main";
$primary-gradient: linear-gradient(56deg, #ED7B73 0%, #F1B570 33%, #6DC38A 66%, #77BAE6 100%);



.article ul {
  @extend .browser-default;
  padding: 0 0 0 3rem;
  li {
    margin: .5rem 0;
  }
}

.row {
  &:not(.full-width){
    max-width: 1040px;
  }
}
body > nav {
  background: rgba(black,.1);
  height: 100px;
  margin-bottom: -100px;
  box-shadow: none;
  font-weight: normal;
  display: none;
  @media #{$breakpoint-md-up}{
    display: flex;
  }


  .name {
    font-size: 1.3rem;
  }
  .col {
    padding-top: 0;
    padding-bottom: 0;
  }
  ul {
    text-align: right;
    list-style: none;
  }
}

section.intro {
  background: $primary-gradient;
  color: white;
  padding: 100px 0 100px;
  display: flex;
  flex-direction: column;
  @include center(xs);
  text-align: center;

  > .row {
    @include center(xs);
  }

  @media #{$breakpoint-md-up}{
    text-align: left;
    padding: 190px 0 120px;
  }

  .text {
    order: 1;
    @media #{$breakpoint-md-up}{
      text-align: left;
    }
  }

  .text p {
    font-size: 20px;
    max-width: 700px;
    font-weight: 200;
  }

  h1 {

    // starting small
    font-size: 1.7em;
    margin: 0;
    font-weight: 100;
    text-shadow: 0 2px 0 rgba(0,0,0,0.02);
    // md and up
    @media #{$breakpoint-md-up}{
      font-size: 3.3rem;
    }

    strong {
      font-weight: 700;
    }
    .strike {
      text-decoration: line-through;
    }
    .hxd {
      display: block;
    }
  }
  h4 {
    color: rgba(black,.45);
    letter-spacing: .3em;
    font-size: .9em;
    text-transform: uppercase;
    font-weight: 600;
    strong {
    }
  }



  // for homepage
  .self-portrait {
    // starting small
    order: 0;
    max-width: 25%;
    padding-bottom: 20px;
    max-width: 200px;
    // md and up
    @media #{$breakpoint-md-up}{
      display: flex;
      flex-direction: column;
      @include center(xs);
      order: 1;
    }
    img {
      @extend .responsive-img;
      @extend .circle;
    }
  }

}

//  persona deck placeholder
.pdp {
  //@include center(xs);
}


.article {
  //padding: 6rem 0;
  color: rgba(black,.75);


  > .row.full-width {
    background: #dddddd;
    padding: 6rem 2rem;
    text-align: center;
    color: white;

    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
  }

  > .row.artifact {
    background: $color-blue;
    background-size: 32px 32px;
    background-image: linear-gradient(to right, rgba(white,.1) 1px, transparent 1px), linear-gradient(to bottom, rgba(white,.1) 1px, transparent 1px);  }

  > .row.timeline {
    background: $color-purple;
  }

  > .row.product {
    background: $primary-gradient;
  }


  > .row.text {
    padding: 6rem 0;
    max-width: 740px;
    @media #{$breakpoint-xs-only}{
      padding: 4rem $gutter*2;
    }
    @media #{$breakpoint-sm-only}{
      padding: 4rem $gutter*3;
    }
    a {
      &:hover {
        background: rgba($color-blue,.35);
        color: darken($color-blue,40%);
      }
    }
    > section > *:not(:last-child) {
      margin: 0 0 2rem 0;
    }
    section:not(:last-child) {
      margin: 0 0 3rem 0;
    }
    ul,
    p {
      max-width: 620px;
      font-size: 17px;
      color: rgba(black,.75);
      line-height: 1.75;
      strong {
        font-weight: 700;
      }
      em {
        font-family: $serif-font-stack;
      }
    }




    ul li strong ~ em:before{
      content: '\00B7 \ ';
      padding: 0 .25rem;
    }
    .green-highlight {
      background: rgba($color-green,.5);
    }
    .red-highlight {
      background: rgba($color-red,.5);
    }

    section.complex-challenge {
      background: rgba($color-yellow,.35);
      padding: 3rem 4rem;
      blockquote {
        border-color: rgba(black,.2);
        font-family: $serif-font-stack;
        font-style: italic;
        //margin-bottom: 0;
        //font-size: 2rem;
        @media #{$breakpoint-md-up}{
          font-size: 1.5rem;
        }
        ~ cite {
          font-style: normal;
          opacity: .5;
          display: block;
          &:before {
            content: "\2014 \ "
          }
        }
      }
    }
  }
  > .row.text .sources {
    background: #dddddd;
    padding: 5rem;
    opacity: .7;
    transition: .2s ease all;
    &:hover {
      opacity: 1;
    }

  }

  h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
    font-size: 2rem;
    @media #{$breakpoint-md-up}{
      font-size: 3rem;
    }
  }
  h2.question {
    @extend .purple-text;
    font-weight: unset;
    font-style: italic;
    font-family: $serif-font-stack;
    font-size: 1.4rem;
    line-height: 1.5;
    @media #{$breakpoint-md-up}{
      font-size: 1.7rem;
    }
  }
  h3 {
    font-weight: 700;
    line-height: 1.3;
    font-size: 1.5rem;
    @media #{$breakpoint-md-up}{
      font-size: 2rem;
    }
  }
  h4 {
    color: rgba(black,.85);
    @extend .blue-text;
    letter-spacing: .3em;
    font-size: .8em;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.5;
  }
}
.article.hostelhops {
  em {
    opacity: .8;
  }
}
